@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}

html,
body,
h1,
h2,
a,
ul,
li,
article,
aside,
header,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
