@import "./reset";
@import "./variables";

.main {
  width: 1000px;
  height: 700px;
  background-color: rgb(194, 191, 191);
  border-radius: 10px;
  padding: 20px 15px;
  margin: 20px auto;
}

.main-title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

.map-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  height: 90%;
}

.map {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
}

.map-cell {
  position: relative;

  > .town {
    position: absolute;
  }
}

.town {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5%;
  border: 3px solid rgba(20, 19, 24, 0.522);
  border-radius: 10px;
  padding: 0 5px;
  min-width: 33%;
  min-height: 33%;

  &.has-mailbox {
    border-color: $bg-mailbox;
  }

  .town-info {
    display: flex;
    flex-wrap: wrap;
  }
}

.town-title {
  display: inline-block;
}

.mailbox {
  font-size: 1rem;
}

.info-container {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.mailbox-btn {
  background-color: $bg-mailbox;
  border-radius: 5px;
  color: white;
  padding: 10px 5px;
}

.refresh-btn {
  display: block;
  margin-top: auto;
  background-color: $bg-refresh;
  border-radius: 5px;
  color: white;
  padding: 10px 5px;
}

.info {
  display: flex;
  flex-direction: column;

  * {
    margin-top: 10px;
    word-break: keep-all;
    line-height: 1.3;
  }
}
